#images_column{
    line-height: 40px;
    width: 300px;
    float: left;
    left: 20px;
    top: 150px;
    margin: 0 20px 0 10px;
}

#images_column img{
    max-width: 300px;
    box-shadow: -3px 3px 10px grey;
}

@media screen and (max-width: 600px){
    #primary{
        width: 100%;
        clear: both;
    }
}
